<!--
This HTML file serves as the template for the "About Us" page, providing information about the development
group and the objective of creating the website.
-->


{% extends 'forum.html' %}
{% block content %}
<div class="container mt-5">
    <h2>About Us</h2>
    
    <p>Welcome to Group 13 - The Bag Chasers! We hope you enjoy our final project.</p>

    <p>Our objective for this website was to provide a space where individuals who share a love for animals can come together, share their experiences, and engage in meaningful discussions about various topics related to our furry friends.</p>

    <p>We hope you enjoy your time on our website and find it to be a valuable resource for your learning. Thank you for visiting!</p>
  </div>
{% endblock %}