<!--
This HTML file serves as the template for the page where authenticated users can create new forum posts. It
provides the structure and styling for the post creation form, including input fields for the post title and
content.
The form allows users to input the post title and content, submitting the form to create a new post in the forum.
-->

{% extends 'forum.html' %}

{% block content %}
  <div class="container">
    <h2>Create a New Post</h2>
    <form method="POST" action="{{ url_for('create_post') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control") }}
      </div>
      <div class="form-group">
        <label for="category" class="form-label">Category</label>
        {{ form.category(class="form-control", required=true) }}
    </div>
      <button type="submit" class="btn btn-primary">Create Post</button>
    </form>
  </div>
{% endblock %}
