<!--
This HTML file serves as the template for displaying a list of registered users on the site. It shows the user
IDs and usernames in a formatted list.

The list of users is fetched from the database and displayed on the page.
-->

{% extends 'forum.html' %}
{% block content %}
<div class="container mt-5">
    <h2>User List</h2>

    <ul class="list-group">
      {% for user in users %}
        <li class="list-group-item">ID: {{ user.id }}, Username: {{ user.username }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}